/*Fonts*/
$bodyFont: 'Poppins', sans-serif;
$h1Font: 'Staatliches', cursive;
$h2Font: 'Oswald', sans-serif;
    /*colors*/
$color1: rgba(239, 66, 75, 1);


/*backgound colors*/
$bgColor1: rgba(239, 66, 75, 0.7);
$bgColor2: rgba(57, 142, 200, 0.8);
$bgColor3: rgba(29, 163, 139, 0.7);
$bgColor4: rgba(239, 66, 75, 0.8);
$bgColor5: rgba(240, 124, 79, 0.9);

/*images*/
$coverImg: url('../img/portada1.png');